
HW_1_Console_bot_with_abstract/classes works copy.py
data_console_bot.bin
HW_1_Console_bot_with_abstract/__pycache__/classes.cpython-310.pyc
HW_1_Console_bot_with_abstract/__pycache__/console_func.cpython-310.pyc
HW_1_Console_bot_with_abstract/__pycache__/user_interface.cpython-310.pyc
HW_2_Console_bot_with_docker/__pycache__
HW_3_Sorting_with_threads/__pycache__/file_parser.cpython-310.pyc
HW_3_Sorting_with_threads/__pycache__/normalize.cpython-310.pyc
HW_3_Sorting_with_threads/test_dir
HW_4_Web/client.py
HW_4_Web/teksk.py
HW_4_Web/server.py
HW_4_Web/m04_02
HW_4_Web/example.py
HW_4_Web/example2.py
HW_6_SQL/.idea
HW_6_SQL/HW_1_2_ZAPROS.sql
HW_7_ORM_SQLAIchemy/.idea/HW_7_ORM_SQLAIchemy.iml
HW_7_ORM_SQLAIchemy/.idea/inspectionProfiles/profiles_settings.xml
HW_7_ORM_SQLAIchemy/.idea/misc.xml
HW_7_ORM_SQLAIchemy/.idea/modules.xml
HW_7_ORM_SQLAIchemy/.idea/toolchains.xml
HW_7_ORM_SQLAIchemy/.idea/vcs.xml
HW_7_ORM_SQLAIchemy/migrations/__pycache__/env.cpython-310.pyc
HW_7_ORM_SQLAIchemy/src/__pycache__/db.cpython-310.pyc
HW_7_ORM_SQLAIchemy/src/__pycache__/models.cpython-310.pyc
HW_8_Mongo_DB/__pycache__/connect.cpython-310.pyc
HW_8_Mongo_DB/__pycache__/models.cpython-310.pyc
HW_8_Mongo_DB/config.ini
HW_9_BS_Scrapy/old_collect_funcs.py
