
HW_1_Console_bot_with_abstract/classes works copy.py
data_console_bot.bin
HW_1_Console_bot_with_abstract/__pycache__/classes.cpython-310.pyc
HW_1_Console_bot_with_abstract/__pycache__/console_func.cpython-310.pyc
HW_1_Console_bot_with_abstract/__pycache__/user_interface.cpython-310.pyc
HW_2_Console_bot_with_docker/__pycache__